.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #fff;
  width: 360px;
  padding: 15px 0px;
  text-align: left;
  vertical-align: top;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: inline-block;
  font-size: 18px;
  background: transparent;
  font-weight: normal;
  color: #333333;
  padding: 9px 0px 9px 0px;
  width: 70%;
  margin: 0;
}
.select-styled:after {
  position: absolute;
  top: 18px;
  right: 20px;
  content: "";
  background: url('../image/drop-down.png') no-repeat;
  width: 11px;
  height: 7px;
  display: block;
}
.select-styled:hover {
  background-color: transparent;
}
.select-styled:active, .select-styled.active {
  background-color: transparent;
}
.select-styled:active:after, .select-styled.active:after {
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0%;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: none;
  color: #333333;

}
.select-options li {  
    background: #27ac27 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    top: 16px;
    width: 100% !important;
}
.select-options li:hover {
  color: #333333;
}
.select-options li[rel="hide"] {
  display: none;
}

